header {
    padding: 30px;
    text-align: center;
    background-color:purple;
}
main {
    padding: 30px;
    flex: 30px;
}
aside {
    padding: 30px;
    text-align: center;
    background-color: turquoise;
}
footer {
    padding: 30px;
    text-align: center;
    background-color: red;
}
.content {
    display: flex;
}
