header {
    padding: 30px;
    background-color:purple;
    text-align: center;
}
main {
    padding: 30px;
    flex: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
aside {
    padding: 30px;
    background-color: cadetblue;
    text-align: center;
}
footer {
    padding: 30px;
    background-color: red;
    text-align: center;
} 
figure, figcaption, img {
    max-width: 600px;
    margin-left: 0px;
    font-size:10px;
}
.content {
    display: flex;
}
.intro {
    font-size: 12px;
}
.author {
    padding: 10px;
    background-color: black;
    color: cornsilk;
}
.category, .date {
    padding: 10px;
}
.news {
    margin-bottom: 0px;
}
.subtitle {
    margin-top: 5px;
}
.paragraphs {
    max-width: 600px;
    padding: 50px;
}


